<StackLayout>
    <RadListView [items]="images" height="80%" width="90%" row="1" itemReorder="true" reorderMode="Drag">
        <ng-template tkListItemTemplate let-item="item">
            <GridLayout columns="*, auto" class="m-b-10" paddingTop="16" paddingBottom="16">
                <StackLayout orientation="vertical" col="0" verticalAlignment="center">
                    <Image [src]="item.url" height="110" width="60%"></Image>
                </StackLayout>
                <ReorderHandle col="1" verticalAlignment="center">
                    <Label class="fa action-button" text="&#xf0dc;" margin="16"></Label>
                </ReorderHandle>
            </GridLayout>
        </ng-template>
    </RadListView>

    <StackLayout class="m-t-5 m-b-5" orientation="horizontal" horizontalAlignment="center">
        <Label class="modal-done" text="{{ 'com.recuperalo.mobile.done' | L }}" (tap)="close()"></Label>
    </StackLayout>
</StackLayout>