/* Add mobile styles for the component here.  */

ListView {
    separator-color: white;
}

.msg {
    font-size: 14;
    padding: 5;
}

.them .msg-text {
    background-color: #e0e0e0;
    color: #333;
    padding: 7;
    border-radius: 5;
    margin-right: 40;
}

.authorimg {
    margin: 0 5 5 5;
    width: 30;
    height: 30;
    border-radius: 15;
}

