<GridLayout>
    <GridLayout rows="auto, *, auto" class="gray-bg">
        <SearchBar row="0" text="" hint="{{ 'com.recuperalo.mobile.search' | L }}" 
            id="search" (textChange)="onTextChanged($event)" android:loaded="doNotShowAndroidKeyboard" android:height="40"></SearchBar>
        
        <ListView row="1" height="100%" [items]="filteredDataset" (itemTap)="onItemTap($event)" separatorColor="#00000000">
            <ng-template let-lostObject="item">
                <GridLayout columns="auto, auto, *" rows="auto, auto" backgroundColor="#19FFFFFF">
                    <Image row="0" rowSpan="2" col="0" class="obj-main-photo" async="true" height="50" width="60" src="{{ getPrimaryPhoto(lostObject).url }}"></Image>
                    <Label row="0" col="1" text="{{ 'com.recuperalo.mobile.lost-object.found-by' | L }} {{ lostObject.username }}" class="lo-item-username"></Label>
                    <Label row="0" col="2" text="{{ toDate(lostObject.publishTimestamp) | date:'short' }}" class="lo-item-date"></Label>
                    <Label row="1" col="1" colSpan="2" text="{{ lostObject.name }}" textWrap="true" class="lo-item-name"></Label>
                </GridLayout>
            </ng-template>
        </ListView>

        <Label *ngIf="filteredDataset == null || filteredDataset.length == 0" 
            class="text-center font-weight-bold color-white m-t-35" row="1" text="{{ 'com.recuperalo.mobile.empty' | L }}"></Label>
    </GridLayout>
    <GridLayout *ngIf="detailNavigation" class="overlay-ro-area">
        <ActivityIndicator busy="true" class="activity-indicator"></ActivityIndicator>
    </GridLayout>
</GridLayout>