<StackLayout>
    <ListView height="90%" margin-bottom="50" padding="5" #list [items]="messages$ | async">
        <ng-template let-item="item">
            <GridLayout columns="*" rows="auto" class="msg">
                <StackLayout [class]="item.from == currentUser.id ? 'me': 'them'" orientation="horizontal" [horizontalAlignment]="item.from == currentUser.id ? 'right' : 'left'">
                    <Image [visibility]="item.from == currentUser.id ? 'collapsed' : 'visible'" class="authorimg" 
                        stretch="aspectFill" height="30" width="30" verticalAlignment="top" 
                        [src]="lostObject.createdByAppUser.profilePhotoUrl" col="1"></Image>
                    <Label [text]='item.message' class="msg-text" textWrap="true" verticalAlignment="top"></Label>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </ListView>

    <StackLayout height="10%">
        <GridLayout columns="*,auto" style="padding: 10">
            <TextField #textfield class="chatTextField" row="0" col="0" [(ngModel)]="message"></TextField>
            <Button class="chatBtn" row="0" col="1" text="{{ 'com.recuperalo.mobile.send' | L }}" (tap)=sendMessage(message)></Button>
        </GridLayout>
    </StackLayout>
</StackLayout>