<FlexboxLayout [formGroup]="lostObjectCreateForm" class="page gray-bg color-white p-t-10">
    <StackLayout class="flex-grow-1">
        <GridLayout rows="auto" columns="*">
            <ns-image-slider row="0" col="0" [class]="(updatingSlider ? 'darken' : '') + ' lost-object-picture'" [images]="images" [swipeFnHolder]="swipeFnHolder" (onSlide)="currentPhoto($event)"></ns-image-slider>
            <ActivityIndicator row="0" col="0" [busy]="updatingSlider" class="activity-indicator" height="50" width="60"></ActivityIndicator>
        </GridLayout>
        <GridLayout rows="auto, auto" columns="*, *">
            <Label row="0" col="0" rowSpan="2" class="fa camera-button" text="&#xf030;" (tap)="choosePhoto()"></Label>
            <Button row="0" col="1" class="btn btn-outline normal-font-size" text="{{ 'com.recuperalo.mobile.reorder-photos' | L }}" width="40%" (tap)="reorderPhotos()"></Button>
            <Button row="1" col="1"class="btn btn-outline normal-font-size" text="{{ 'com.recuperalo.mobile.remove-photo' | L }}" width="40%" (tap)="removePhoto()"></Button>
        </GridLayout>
        <TextField hint="{{ 'com.recuperalo.mobile.lost-object.name' | L }}" 
            class="input text-center normal-font-size {{ !name.valid ? 'input-error-outline' : '' }}" 
            maxLength="15" width="50%" formControlName="name"></TextField>
        <TextView  hint="{{ 'com.recuperalo.mobile.description' | L }}" 
            borderWidth="1" height="80" width="80%" returnKeyType="send" 
            class="input input-border m-t-15 m-b-15 normal-font-size {{ !description.valid ? 'input-error-outline' : '' }}" 
            formControlName="description"></TextView>
        <MapView width="90%" (mapReady)="onMapReady($event)"></MapView>
    </StackLayout>
    <Button class="btn btn-primary m-b-10" text="{{ 'com.recuperalo.mobile.create' | L }}" 
        [disabled]="!lostObjectCreateForm.valid" (tap)="createLostObject()"></Button>
</FlexboxLayout>
