<ActionBar class="action-bar" title="Object View">
    <NavigationButton text="{{ 'com.recuperalo.mobile.go-back' | L }}" 
    android.systemIcon="ic_menu_back" (tap)="routeUtils.routeTo('home', 'slideBottom')"></NavigationButton>
</ActionBar>

<FlexboxLayout class="page gray-bg color-white p-t-10">
    <StackLayout class="flex-grow-1">
        <GridLayout class="lost-object-picture" [carousel]="photos" carouselLabelOverlay="false" carouselSpeed="2000"></GridLayout>
        <TextField [text]="lostObject.name" editable="false"
            class="input text-center normal-font-size" width="50%"></TextField>
        <TextView [text]="lostObject.description" editable="false"
            borderWidth="1" height="80" width="80%" returnKeyType="send" 
            class="input input-border m-t-15 m-b-15 normal-font-size"></TextView>
        <MapView width="90%" latitude="{{ lostObject.location[0] }}" 
            longitude="{{ lostObject.location[1] }}" (mapReady)="onMapReady($event)"></MapView>
    </StackLayout>
    <Button [visibility]="!isCurrentUserOwner() ? 'visible' : 'collapsed'" class="btn btn-primary m-b-10 green-bg" text="{{ 'com.recuperalo.mobile.contact' | L }}" (tap)="contact()"></Button>
    <Label [visibility]="isCurrentUserOwner() ? 'visible' : 'collapsed'" class="m-b-10" text="{{ 'com.recuperalo.mobile.item-owned' | L }}"></Label>
</FlexboxLayout>