<ActionBar class="action-bar" title="{{ 'com.recuperalo.mobile.object-view' | L }}">
    <NavigationButton text="{{ 'com.recuperalo.mobile.go-back' | L }}" 
    android.systemIcon="ic_menu_back" (tap)="routeUtils.routeTo(backUrl, 'slideBottom')"></NavigationButton>
</ActionBar>

<FlexboxLayout class="page gray-bg color-white p-t-10">
    <StackLayout [class]="fromChat ? 'flex-grow-1 m-b-15' : 'flex-grow-1'">
        <ns-image-slider class="lost-object-picture" [images]="photos"></ns-image-slider>
        <TextField [text]="lostObject.name" editable="false"
            class="input text-center normal-font-size" width="50%"></TextField>
        <TextView [text]="lostObject.description" editable="false"
            borderWidth="1" height="80" width="80%" returnKeyType="send" 
            class="input input-border m-t-15 m-b-15 normal-font-size"></TextView>
        <MapView width="90%" (mapReady)="onMapReady($event)"></MapView>
    </StackLayout>
    <Button [visibility]="!fromChat && !isCurrentUserOwner() ? 'visible' : 'collapsed'" class="btn btn-primary m-b-10 green-bg" text="{{ 'com.recuperalo.mobile.contact' | L }}" (tap)="contact()"></Button>
    <Label [visibility]="isCurrentUserOwner() ? 'visible' : 'collapsed'" class="m-b-10" text="{{ 'com.recuperalo.mobile.item-owned' | L }}"></Label>
</FlexboxLayout>