.lost-object-picture {
    width: 130;
    height: 130;
    margin: 5 0;
}

.normal-font-size {
    font-size: 15;
}

.delete-button {
    color: white;
    background-color: red;
    font-weight: bold;
}