/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

.fa {
    font-family: "FontAwesome";
}

.page {
    background-color: #FFF;
    color: #000;
    flex-direction: column;
    align-items: center;
}

.m-t-25-percent {
    margin-top: 25%;
}

.w-95 {
    width: 95%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.action-bar {
    color: #000;
    padding-right: 10;
}

.action-button {
    font-size: 20;
}

/** Forms */
.required-input {
    color: red;
    content: ' *';
}

.input-error-msg {
    color: red;
}

.input-error-outline {
    border-color: red;
    border-width: 1;
}

.input-error-msg-highlighted {
    padding: 5;
    border: 3 solid red;
    border-radius: 5;
    background-color: #ff8080;
    color: black;
}

.input-valid-msg {
    padding: 5;
    border: 3 solid green;
    border-radius: 5;
    background-color: #99ff99;
    color: black;
}

.input-pending-msg {
    padding: 5;
    border: 3 solid yellow;
    border-radius: 5;
    background-color: #ffff99;
    color: black;
}

.gray-bg {
    background-color: #727D99;
}

.color-white {
    color: white;
}

.flex-grow-1 {
    flex-grow: 1;
}

.m-t-35 {
    margin-top: 35%;
}

.conf-segmented-bar {
    background-color: #4ac1fa;
    color: white;
}

SearchBar {
    background-color: white;
    margin: 16;
}

.session-favorite {
    vertical-align: center;
    horizontal-align: center;
    margin: 0 26 0 16;
}

@keyframes session-favorite-selected {
    from { transform: scale(1, 1) rotate(-120); opacity: 0; animation-timing-function: linear; }
    50% { transform: scale(2, 2) rotate(-60); opacity: 0.3; animation-timint-function: ease-in; }
    to { transform: scale(1, 1) rotate(0); opacity: 1; }    
}

.session-favorite-selected {
    animation-name: session-favorite-selected;
    animation-duration: 0.4;
    vertical-align: center;
    horizontal-align: center;
    margin: 0 26 0 16;
}

@keyframes session-favorite-unselected {
    from { transform: scale(1, 1) rotate(120); opacity: 0; animation-timing-function: linear; }
    60% { transform: scale(2, 2) rotate(60); opacity: 0.3; animation-timint-function: ease-in; }
    to { transform: scale(1, 1) rotate(0); opacity: 1; }    
}

.session-favorite-unselected {
    animation-name: session-favorite-unselected;
    animation-duration: 0.2;
    vertical-align: center;
    horizontal-align: center;
    margin: 0 26 0 16;
}

.lo-item-username {
    font-family: "sans-serif";
	font-size: 12;
    color: #4ac1fa;
    margin-top: 16;
}

.lo-item-date {
    font-family: "sans-serif";
	font-size: 12;
	color: white;
    text-transform: uppercase;
    margin: 16 0 0 4;
}

.lo-item-name {
    font-family: "sans-serif";
	font-size: 20;
	color: #c3c3c3;
    margin-bottom: 16;
}

.activity-indicator {
    color: white;
    width: 50;
    height: 50;
}

.overlay-ro-area {
    background-color: rgba(0, 0 , 0, .5);
    height: 100%;
    width: 100%;
}

.height-130 {
    height: 130;
}

.darken {
    filter: brightness(50%);
}

.camera-button {
    font-size: 40;
    horizontal-align: center;
    vertical-align: center;
    color: #30BCFF;
}
